.POIInformationText {
}

.POITitleName {
}

.POILocationName {
}

.ratingInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointTagsContainer {
  display: flex;
  justify-content: space-between;
}
