* {
  padding: 5px;
}

.container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  min-width: 330px;
}

input {
  max-width: 250px;
}

textarea {
  max-width: 250px;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
