.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #3685b5;
  z-index: 999;
  overflow-y: scroll;
  /* background-color: #c2f5ff; */
}

.navBarButton {
  min-width: 100px;
  min-height: 150px;
  background-color: #3685b5;
  /* background-color: #c2f5ff; */
  border: none;
  outline: none;
  margin: 0 0 10px 10px;
}

.selected {
  background-color: white;
  box-shadow: -2px 3px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0 0 20px;
}

.centered {
  align-self: center;
}

.homeSelected {
  background-color: white;
  box-shadow: -2px 3px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

Link {
  text-decoration: none;
}

.burger {
  flex: 0 0 64px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;

  margin: 6px 0;
}

.menu {
  flex: 0 0 120px;
  display: flex;
}

.logout {
  margin-top: auto;
}

.myReact-icons {
  size: 50;
  color: #353434;
}
