.eventScreenLabel {
  padding-bottom: 3px;
}

.createEventTextArea {
  min-width: 250px;
}

.shareButton {
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  min-width: 150px;
  margin-bottom:50px;
}

.shareButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 20px;
}

.eventContainer{
  background-color: grey;
  opacity: 0.85;
  z-index: 10;
  border-radius: 0px 20px 20px 0px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 25%;
  max-height: 65%;
  min-width: 330px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow-y: scroll;
  font-weight: bold;
}

.eventContainer::-webkit-scrollbar {
  display: none;
  position: absolute;
  animation: slide 0.5s alternate;
}

@keyframes slide {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}

.eventContainerSelected {
  left: 50%;
  transition: left 2s;
}

.tagsAddContainer {
 display: flex;
 justify-content: space-between;
}


.suggestedTagsContainer {
  padding-bottom: 10px;
}

.tagsContainer {
  padding: 5px;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.tagButton {
  padding: 6px;
  border-radius: 20px;
  border: none;
  margin: 0px 5px;
  background-color: #d0d8dc;
  /* box-shadow: 5px 5px 8px white; */
}

.selectedTag {
  background-color: #fd9b9b;
  box-shadow: none;
}

.locationInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  border: none;
  margin-bottom: 5px;
  min-width: 150px;
  max-width: 250px;
  padding-top: 5px;
}

.tagsAddButton {
  border-radius: 6px;
  padding-top: 10px;
  border: none;
  width: 34px;
  padding: 5px;
  height: 34px;
  size: auto;
}

.photoUploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.tagSelectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dateInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.selectPrivateEventContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tagOutput {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
